
.chatroom-vertical-center{
    background-color: #171a21;
    margin-left: 5rem;
    margin-right: 5rem;
    width: auto;
    margin-top: 1.65rem;
    height: 800px;
    border-radius: 15px;
    padding: 5px;
}
.back-btn{
    float: right;
    position: absolute;
    right: 5px;
    top: 120px;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.chatroom{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 10px;
    height: 90%;
    .div{
        display: flex;
        background-color: #278EFF;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}
.send-message{
    display: block;
    margin-top: -10px;
    form{
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
}
.display-message{
    width: 95%;
    border: 0;
    border-radius: 5px;
    height: 30px;
    padding: 5px 5px 5px 10px;
}
.self-exist-messages{
    display: flex;
    justify-content: flex-end;
    
}
.exist-messages{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    .self-message-container{
        margin-right: 15px;
        justify-self: flex-end;
        background-color: #278EFF;
        display: grid;
        padding: 8px 15px 8px 15px;
        max-width: 50%;
        max-height: 100%;
        float: right;
        text-align: left;
        border-radius: 10px;
        .message-data{
            max-inline-size: 390px;
            overflow-wrap: break-word;
            color: white;
        }
        .time-info{
            float: right;
            max-height: 3px;
            font-size: 14px;
        }
    }
    .message-container{
        margin-left: 15px;
        justify-self: flex-start;
        background-color: #E9E9EB;
        display: grid;
        padding: 8px 15px 8px 15px;
        max-width: 50%;
        max-height: 100%;
        float: left;
        text-align: left;
        border-radius: 10px;
        .avatar{
            color: red;
        }
        .message-data{
            max-inline-size: 390px;
            overflow-wrap: break-word;
            color: black;
        }
    }
}