@use "../styles/Profile.css" as mixin;
.profile-edit-password{
    background-color: #171a21;
    border-radius: 15px;
    border-width: 5px;
    border-color: white;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position : absolute;
    z-index: 2;
    width: 60rem;
    height: 30rem;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: 0.3s 1 fadeIn; /* Do the Fade. */
    &.active{
      visibility: visible;
      opacity: 1;  
      box-shadow: -1px 1px 200px 600px rgba(0,0,0,0.7);
      -webkit-box-shadow: -1px 1px 200px 600px rgba(0,0,0,0.7);
      -moz-box-shadow: -1px 1px 200px 400px rgba(0,0,0,0.7);
    }
}
.change-password-button{
    width: 200px;
    border: 0;
    background-color: white;
    color: #212630;
    padding: 5px;
    border-radius: 7px;
    margin-top: -1.5rem;
    box-shadow: 0px 0px 62px 36px rgba(0,0,0,0.1);
}
/* The fading in part. Reused above. */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.profile-edit-password>div{
    display: flex;
    flex-direction: column;
}
.profile-edit-password>div>input{
    margin-top: 5px;
    width: 500px;
}
.profile-main-container{
    background-color: black;
    margin: 10rem 15rem 0 15rem;
    color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    padding: 15px;
    gap: 5rem;
}
.profile-picture{
    
    background-color: #212630;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    margin-bottom: 1rem;
}
.profile-picture>div>h1>BiLira{
    margin-top: 1rem;
}
.profile-edit{
    background-color: black;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
}
.profile-edit>div>button{
    display: grid;
    grid-template-rows: 1fr .5fr; 
    width: 90%;
    justify-items: center;
    background-color: #212630;
    border: 0;
    color: white;
    padding-top: 7px;
    border-radius: 10px;
    align-items: center;
}
.profile-banner{
    text-align: center;
}

.profile-buttons{
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: space-between;
}
.profile-each-button{
    label{
        &:hover{
            cursor: pointer;
        }
    }
    &:hover{
        color: #171a21;
        background-color: white;
        text-decoration-color: #171a21;
        cursor:pointer;
    }
    &.active{
        color: #171a21;
        background-color: white;
        text-decoration-color: #171a21;
    }
}
.icon-base{
    background-color: #212630;
    border: 0;
}
.user-panel-menu-bottom{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}
.profile-logout{
    font-size: 15px;
    font-weight: bolder;
    background-color: #212630;
    border-radius: 5px;
    padding: 10px;
    width: 68%;
    color: red;
    border-color: red;
    cursor:pointer;

}
.profile-logout:hover{
    background-color: red;
    color: white;
}
.profile-info{
    background-color: #212630;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
}
.profile-placeholder{
    background-color: #171a21;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    padding: 10px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.edit-button{
    display: flex;
    backdrop-filter: blur(2px);
    align-items: center;
    height: 130%;
    margin-right: 5px;
    
}
.edit-button:hover{
    cursor: pointer;
}
.favorite-games-container{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}
.favorite-game-base{
    --width: 100%;
	--time: 0.7s;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1fr;
    background-color: #171a21;
    align-items: center;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-bottom: 6px;
	box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px #CCC;
	transition: width var(--time), padding-top var(--time);
}

.favorite-game-base:hover {
    cursor: pointer;
    --angle: 5deg;
    transform: translateX(-2%);
}
.favorite-game-base>div> img{
    width: 65%;
    height: 100%;
    object-fit: contain;
}
