.chatroom{
    display: flex;
    flex-direction: column;
    width: 830px;
    height: 340px;
    overflow-y: scroll;
    .div{
        display: flex;
        width: 830px;
        background-color: #278EFF;
        height: 340px;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}
.send-message{
    display: block;
    margin-top: 10px;
    form{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
}
.display-message{
    width: 90%;
    border: 0;
    border-radius: 5px;
    height: 30px;
    padding: 5px 5px 5px 10px;
}
.self-exist-messages{
    display: flex;
    justify-content: flex-end;
    
}
.exist-messages{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    .self-message-container{
        margin-right: 15px;
        justify-self: flex-end;
        background-color: #278EFF;
        display: grid;
        padding: 8px 15px 8px 15px;
        max-width: 50%;
        max-height: 100%;
        float: right;
        text-align: left;
        border-radius: 10px;
        .message-data{
            max-inline-size: 390px;
            overflow-wrap: break-word;
            color: white;
        }
        .time-info{
            float: right;
            max-height: 3px;
            font-size: 14px;
        }
    }
    .message-container{
        margin-left: 15px;
        justify-self: flex-start;
        background-color: #E9E9EB;
        display: grid;
        padding: 8px 15px 8px 15px;
        max-width: 50%;
        max-height: 100%;
        float: left;
        text-align: left;
        border-radius: 10px;
        .avatar{
            color: #278EFF;
        }
        .message-data{
            max-inline-size: 390px;
            overflow-wrap: break-word;
            color: black;
        }
    }
}