.detail-container{
    margin: 5rem 10rem 0 10rem;
    height: 500px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 1rem;
}
.detail-info{
    color: white;
    background-color: #171a21;
    display: grid;
    padding: 10px;
    grid-template-rows: 7fr 2fr;
    overflow: scroll;
}
.detail-title{
    text-align: center;
    font-size: 2rem;
}
.detail-views{
    display: flex;
    align-items: center;
}
.view-container{
    background-color: #212630;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    margin: 0 5px 5px 5px;
}
.detail-cost{
    background-color: #171a21;
    color: white;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 0.2fr;
}
.detail-cost2{
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
    grid-template-columns: 1fr 1fr;
}
.detail-description{
    font-size: medium;
    margin-left: 1rem;
    margin-right: 1rem;
}
.detail-image-container{
    border: 1px solid;
}
.detail-image{
    object-fit: cover;
    width: 100%;
    height: 500px;
}
.pursch-btn{
    background-color: green;
    border-radius: 7px;
    border-color: green;
    color: white;
    height: 3rem;
    width: 6rem;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.pursch-btn:hover{
    background-color: #171a21;
    color: green;
}
.detail-stock{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#favorite-star{
    
}
.youtube-video{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

